/*Forside*/
.grid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  border-radius: 10px;
}

.grid_2 {
  background-color: #f285c1;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.grid_3 {
  background-color: #f285c1;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.semester {
  margin-left: 26%;
  font-family: "Fraunces", serif;
  font-size: 321%;
  color: white;
  margin-top: -9px;
  margin-left: 34%;
  position: absolute;
  left: -100%; /* Startposition uden for skærmen */
  top: 30%;
  transform: translate(0, -50%);
  animation: slideFromLeft1 2s ease-in-out forwards;
}

@keyframes slideFromLeft1 {
  to {
    left: 21%; /* Slutposition i midten af skærmen */
  }
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 321%;
  color: white;
  margin-left: 25%;
  position: absolute;
  left: -100%;
  top: 0%;
  transform: translate(0, -50%);
  animation: slideFromLeft2 2s ease-in-out forwards;
}

@keyframes slideFromLeft2 {
  to {
    left: 21%; /* Slutposition i midten af skærmen */
  }
}

.image1 {
  max-width: 80%;
}

.cta-button {
  display: inline-block;
  padding: 10px 52px;
  font-size: 21px;
  font-weight: bold;
  font-family: "Fraunces", serif;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40%;
  position: absolute;
  left: -100%;
  top: 55%;
  transform: translate(0, -50%);
  animation: slideFromLeft3 2s ease-in-out forwards;
}

@keyframes slideFromLeft3 {
  to {
    left: 21%; /* Slutposition i midten af skærmen */
  }
}
.cta-button:hover {
  background-color: #8abf8d;
}
