/*Forside*/
.grid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  border-radius: 10px;
}

.grid_2 {
  background-color: #f285c1;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.grid_3 {
  background-color: #f285c1;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.semester {
  margin-left: 26%;
  font-family: "Fraunces", serif;
  font-size: 250%;
  color: white;
  margin-top: -9px;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 250%;
  color: white;
  margin-left: -48px;
}

.image1 {
  max-width: 80%;
}

.cta-button {
  display: inline-block;
  padding: 5px 52px;
  font-size: 21px;
  font-weight: bold;
  font-family: "Fraunces", serif;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 58px;
}

.cta-button:hover {
  background-color: #8abf8d;
}
