body {
  margin: 0;
  font-family: "Fraunces", serif;
}

.box {
  flex: 1;
  height: 300px;
  margin: 10px;
  position: relative;
}

.left-box {
  overflow: hidden; /* For at sikre, at billedet ikke går ud over boksen */
}

img {
  max-width: 100%; /* Begræns billedets bredde til boksens bredde */
  height: auto; /* Bevar billedets aspektratio */
  margin-top: 15px;
  box-sizing: border-box;
  border-color: #3f83bf;
  box-shadow: 10px 20px #3f83bf;
}

.overlay {
  position: relative;
}

.middle-box {
  position: absolute;
  top: 20px;
  width: 95%;
  height: 100%;
  background-color: #3f83bf;
  z-index: 1; /* Højere z-index for at være øverst */
  border-radius: 10px;
}

.right-box {
  background-color: #f285c1;
  z-index: 2; /* Lavere z-index for at være under middle-box */
  left: -20px; /* Juster denne værdi for at rykke .right-box til venstre */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.right-box p {
  line-height: 1.6em;
  font-size: 1.2cqw;
  text-align: justify;
  color: black;
  font-family: "Poppins", sans-serif;
  overflow: scroll;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 250%;
}

.grid-container1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  display: grid;
  grid-template-columns: 5% auto auto auto;
  border-radius: 10px;
}

footer {
  background-color: #3f83bf;
  text-align: center;
  padding: 10px;
  position: fixed;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footerp {
  line-height: 0.1em;
  color: white;
  font-family: "Poppins", sans-serif;
}
