body {
  margin: 0;
  font-family: "Fraunces", serif;
}

.container {
  display: flex;
}

.box {
  flex: 1;
  height: 300px;
  margin: 10px;
  position: relative;
}

.left-box {
  overflow: hidden; /* For at sikre, at billedet ikke går ud over boksen */
}

img {
  max-width: 100%; /* Begræns billedets bredde til boksens bredde */
  height: auto; /* Bevar billedets aspektratio */
}

.overlay {
  position: relative;
}

.middle-box {
  position: absolute;
  top: 21px;
  width: 94%;
  height: 100%;
}

.middle-box {
  background-color: #3f83bf;
  z-index: 1; /* Højere z-index for at være øverst */
}

.right-box {
  background-color: #f285c1;
  z-index: 2; /* Lavere z-index for at være under middle-box */
  left: -20px; /* Juster denne værdi for at rykke .right-box til venstre */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-box p {
  color: white;
  text-align: center;
}
