body {
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 1.5cqw;
}

.box {
  flex: 1;
  height: 300px;
  margin: 10px;
  position: relative;
}

img {
  max-width: 70%; /* Begræns billedets bredde til boksens bredde */
  height: auto; /* Bevar billedets aspektratio */
  margin-top: 13px;
  border-radius: 5%;
  border-style: double;
  box-sizing: border-box;
  border-color: #3f83bf;
  box-shadow: -10px 10px #3f83bf;
}

.overlay {
  position: relative;
}

.middle-box {
  position: absolute;
  top: 20px;
  width: 96%;
  height: 100%;
  background-color: #3f83bf;
  z-index: 1; /* Højere z-index for at være øverst */
  border-radius: 10px;
}

.right-box {
  background-color: #f285c1;
  z-index: 2; /* Lavere z-index for at være under middle-box */
  left: -20px; /* Juster denne værdi for at rykke .right-box til venstre */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 97%;
  height: 101%;
}

.right-box p {
  line-height: 1.4em;
  text-align: justify;
  color: black;
  overflow: scroll;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 250%;
}

.description {
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-size: 0.65em;
}

footer {
  background-color: #3f83bf;
  text-align: center;
  padding: 10px;
  position: fixed;
  height: 45px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.grid-container1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: grid;
  grid-template-columns: 10% 40% 3% 40% 5%;
  border-radius: 10px;
}

.cta-button {
  position: absolute;
  top: 82%; /* Afstand fra bunden af siden */
  left: 72%; /* Centreret horisontalt */
  transform: translateX(
    -50%
  ); /* Centreret horisontalt med translate transform */
  display: inline-block;
  padding: 7px 38px;
  font-weight: bold;
  font-family: "Fraunces", serif;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #8abf8d;
}
